.new-qa__list-wrapper {
    ul {
        margin-bottom: 2rem;
        list-style: disc;
        margin-left: 1.45rem;
        li {
            margin-bottom: 0;
        }
    }
    .new-qa__date {
        h2{
            margin: 0;
            margin-bottom: .875rem;
            font-size: 1.5rem;
            line-height: 1.75rem;
            color: $gray-normal;
            @media(max-width: 767px) {
                font-size: 1.25rem;
            }
        }
        
    }
}
.recent-qa {
    margin: 1.75rem 0;
    margin-top: 0;
    .new-qa__date {
        margin-top: 1.75rem;
        &:first-child {
            margin-top: 0;
        }
    }
    ul {
        margin-bottom: 0;
    }   
}