.custom-form {
  display: inline-block;
  width: 100%;
  border: 1px solid $green-caper;
  padding: 16px;
  font-family: $Open-Sans;
  .custom-form__btn {
    text-align: right;
    @media (max-width: 767px) {
      text-align: center;
    }
    .btn {
      width: 30%;
      min-width: 150px;
    }
  }

  .form-captcha-content {
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    margin-bottom: 1.75em;
  }
  .form-item {
    .invalidClass {
      outline: 2px solid #c00;
      background-color: #fee8d3;
      border: none;
    }
  }
}
.form-required {
  color: $red;
}

// // captcha
// .form-captcha-content {
//   #rc-anchor-container {
//     height: 136px;
//     width: 156px;
//     .rc-anchor-pt {
//       left: 50%;
//       transform: translate(-50%);
//     }
//   }
  
//   iframe {
//     height: 100%;
//     max-width: 160px;
//   }
// }

// Response form
.response-form {
  .custom-form {
    border: none;
    padding: 0;
    .block__title {
      font-family: $Droid-Serif;
      font-size: 1.8rem;
      @media(max-width: 767px) {
        font-size: 1.5rem;
      }
    }
    textarea {
      width: 100%;
      max-width: 100%;
      display: block;
      border-color: #76a23a;
      border-width: 1px;
      background-color: transparent;
    }
    .custom-form__btn {
      text-align: right;
    }
  }
  .form-captcha-content .invalidClass {
    border-color: #c00;
    background-color: #fee8d3;
  }
}