.new-qa__wrapper {
  // background: $blue;
  // border-top: 2px solid $sky-blue;
  overflow: visible;
  margin-bottom: 3em;
  position: relative;
  font-family: $Open-Sans;
  padding: 0 40px;
  padding-bottom: 2.1875rem;
  // min-height: 327px;
  @media(max-width: 767px) {
    padding: 0 28px;
  }
  
  .new-qa__collection {
    background: url('./../images/icons/interrostration.png') no-repeat;
    padding: 1.75rem 0 1em 25%;
    background-size: 21% auto;
    background-position: 0 1.75rem;
    // height: 100%;
    @media(max-width: 767px) {
      background: none;
      padding-left: 0;
    }
   
    h1 {
      color: $white;
      margin-top: 0;
      font-family: $Droid-Serif;
    }
    ul {
      color: $white;
      list-style: disc;
      padding-left: 1.2em;
      li {
        margin-bottom: 0;
        .link {
          color: $white;
          font-size: 18px;
          &:hover {
            background: $bluemine;
          }
        }
      }
    }
  }
  .cta-content {
    position: relative;
    background: $sky-blue;
    padding: 1.75rem 1em 1em 1em;
    margin-bottom: 45px;

    &::after {
      content: '';
    position: absolute;
    bottom: -50px;
    left: 0;
    background: url('./../images/icons/down-direction.png') no-repeat;
    background-size: 100% auto;
    height: 50px;
    width: 100%;
    }
  }
  .cta-button {
    .link {
      color: $white;
      background: $bluemine;
      line-height: 1.75em;
      padding: 0.5em 1em;
      font-weight: 700;
      width: 100%;
      display: inline-block;
      text-align: center;
      text-transform: uppercase;
      &:hover {
        background: $blue-jelly;
        cursor: pointer;
      }
    }
  }
  .view-footer {
    text-align: right;
    margin-bottom: 38px;
    .link {
      color: $blue-lo;
      font-weight: 700;
      &:hover {
        color: $white;
        background: $bluemine;
      }
    }
  }
}

.success-wrap {
  background: $blue;
  border-top: 2px solid $sky-blue;
}
.success-wrap-nobackground {
  background: $white;
  border-top: 2px solid $white;
}