.weekllypollresult {
  display: inline-block;
  width: 100%;
  font-family: $Open-Sans;
  .results-message {
    background-color: $green-frost;
    padding: 1em;
    margin: 1em 0;
  }
  .weekllypollresult__process-bar {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: $orange-lightest;
    padding: 16px;
    border-bottom: 1px solid $orange-light;
    margin: 0;
    color: $black;
    overflow: auto;
    min-height: 53px;

    .weekllypollresult__text {
      float: left;
      position: relative;
      text-transform: capitalize;
      z-index: 9;

      p {
        margin-bottom: 0;
      }
    }

    .weekllypollresult__progress {
      .weekllypollresult__progress-bar {
        position: absolute;
        top: 0;
        right: auto;
        left: 0;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 25%;
        height: 100%;
        color: $white;
        text-align: center;
        white-space: nowrap;
        transition: width .6s ease;
        background-color: $orange-whiter;
        overflow: hidden;
      }
    }

    .weekllypollresult__percent {
      position: relative;
      float: right;
      text-align: right;
      z-index: 9;
    }
  }

  .weekllypollresult__total-votes {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    padding: 16px;
    text-align: center;
    background-color: $orange-light;

    span {
      margin-right: 4px;
    }

    p {
      margin-bottom: 0;
    }
  }
}