.ask-your-question-top {
  margin-bottom: 2.1875rem;
  p {
    margin-top: 0;
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
  ol {
    counter-reset: li;
    margin-left: 0;
    margin-top: 1em;
    padding-left: 0;
    display: grid;
    li {
      margin: 0 0 0.875rem 0;
      list-style: none;
      &::before {
        content: counter(li);
        counter-increment: li;
        float: left;
        width: 1.75em;
        margin-right: 8px;
        margin-top: 0.25em;
        padding: 0.25em 0;
        color: $white;
        background: $orange;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
      }
    }
  }
}