.social-menu {
  margin: 0;
  display: flex;
  list-style: none;
  padding-left: 0;

  .social-menu__item {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    .link {
      display: inline-block;
      width: 45px;
      height: 45px;
      &.facebook-icon {
        background-image: url("./../images/icons/fb.svg");
      }
      &.twitter-icon {
        background-image: url("./../images/icons/twitters.svg");
      }
      &.socialshare-icon {
        background-image: url("./../images/icons/socialshare.svg");
      }
      &:hover {
        box-shadow: inset 0 0 10px #2d2e2c;
      }
    }
  }
}
