.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  height: 100%;
  border-radius: 0;
  list-style: none;
  background-color: $gray-b-hi;
  padding: 0 0 0 27px;
  .breadcrumb__link {
    color: $gray-b-lo;
    padding: .5em;
    text-decoration: none;
    &:hover {
      background-color: $gray-b-lo;
      color: $white;
    }
    &.home {
      float: left;
      display: block;
      text-indent: -9999px;
      height: 100%;
      width: 44px;
      background: url('./../images/icons/home.svg') no-repeat;
      background-position: 50%;
      background-size: 18px auto;
  
      &:hover {
        background: #2c2f2f url('./../images/icons/home-inverted.svg') no-repeat;
        background-position: center center;
        background-size: 18px auto;
      }
    }
  }
  .breadcrumb__item{
    display: inline-flex;
    align-items: center;
    margin: 0;
    padding-left: .5rem;
    list-style-type: none;
    color: $gray-b-lo;
    font-size: 16px;
    font-weight: 200;

    // &:first-child {
    //   padding-left: 0;

      
    // }

    
    &::after {
      display: block;
      text-indent: -9999px;
      width: 44px;
      height: 44px;
      background: url('./../images/icons/seperator.svg') no-repeat;
      background-position: 50%;
      float: left;  
      content: ''; 
    }

    &:last-child {
        &::after {
            display: none;
        }
    }
    
    // .breadcrumb__link {
      

      
    // }
    // .breadcrumb-text {
    //   padding: .5em;
    //   color: #6c757d;
    // }
  }
}

