.form-item {
  margin-bottom: 1em;

  label {
    padding-right: 5px;
    color: $black-text;
    font-weight: bold;
  }

  input[type="text"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  input[type="email"],
  input[type="password"],
  input[type="date"],
  input[type="time"],
  input[type="number"],
  textarea,
 .form-item__select,
  optgroup {
    // display: inline-block;
    // width: 100%;
    border: 1px solid $green-caper;
    color: $green-seaweed;
    background-color: $green-frost;
    border-radius: 0;
    padding: 0.5em;
    font-size: 16px;
    line-height: inherit;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  }
}

.form-fieldset {
    border-color: $green-caper;
    border-width: 2px;
    border-style: solid;
    padding: 1rem;
    margin: 1rem 0;

  legend {
    color: $black-text;
    width: auto;
    padding: 0 0.5em;
  }
}

.form-item__description {
  color: $black-text;
}

.custom-form {
  input,
  textarea,
//  .form-item__select,
  optgroup {
    width: 100%;
  }
}