.question__wrapper {
  margin-bottom: 5em;
  .question-block {
    background: $gree-loafer;
    position: relative;
    color: $black;
    padding: 3em;
    &::after {
      content: "";
      position: absolute;
      bottom: -20px;
      left: 1.75rem;
      width: 0;
      height: 0;
      border-top: 20px solid $gree-loafer;
      border-left: 40px solid transparent;
    }
    ul {
      list-style: disc;
      padding-left: 32px;
      li {
        padding-left: 0;
      }
    }
  }
  h2 {
    margin-top: 0;
  }
}
.theme-footer {
  text-align: right;
}