.theme-week__wrapper {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 25px;

  .h2 {
    margin: 0;
    line-height: 1.5em;
    display: inline-block;
  }
  
  .rc-collapse-content-active {
    padding-top: 40px;
    padding-left: 16px;
  }
  .arrow {
    display: none;
  }
  .rc-collapse-content-box {
    // height: 0; 
    // -webkit-transition: all 0.3s;
    // transition: all 0.3s;
  }
  .question__wrapper {
    &:last-child {
      margin-bottom: 0;
    }
    .theme-question {
      a {
        font-size: 24px;
      }
      h2 {
        line-height: 1.5em;
      }
    }
  }
  .theme__wrapper {
    .theme__question {
      > div {
        @include link;
        
      }
      p {
        font-weight: bold;
      }
      div {
        &:empty & {
          display: none;
        }
      }
      &.link {
        div {
          // display: block;
          line-height: 1.5em;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          overflow: hidden;
        }
      }
    }
  }
}

.theme-week {
  display: flex;
  font-family: $Open-Sans;
  border: 1px solid $gray-light;
  margin-bottom: 1em;
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
 
  &.display-before {
    position: unset;
  }
  .week-title {
    padding: 0 .5em;
  }
}


.theme-week__detail-wrapper {
  padding: 0 1em;
  .theme-question {
    h2 {
      margin: 0;
      font-size: 1.5em;
      line-height: 1.5em;
    }
  }
  .theme-answer-wrapper {
    margin-bottom: 3.5rem;
  }
  .theme-answer {
    padding: 3.5rem;
  }
  .theme-footer {
    padding-right: 1em;
    float: right;
    padding-bottom: 1.6em
  }
} 