.social-share-menu {
  display: inline-block;

  .social-share-menu__item {
    display: inline-block;
    margin-bottom: 1.5em;
    padding-right: 8px;
    padding-left: 0;

    .link {
      display: inline-block;
      height: 26px;
      overflow: hidden;
      background-color: transparent;
      outline-color: $black-mine;

      &:hover {
        img {
          margin-top: -26px;
        }
      }
    }
  }
}
.social-menus {
  border-top: 1px solid #d3d7d9;
  padding-top: 1em;
}
