.theme-of-week__wrapper {
  margin-bottom: 2.1875rem;
  .theme-of-week__header { 
    h2 {
      font-size: 1rem;
      margin: 0;
      line-height: 1.5em;
    }
  }
  .theme-title {
    background: $green-dark;
    padding: 0.5rem 1rem;
    color: $white;
    font-family: $Open-Sans;
    h2 {
      display: inline;
      font-weight: 200;
      font-size: 1.15rem;
      line-height: 1.75rem;
      a,
      a div {
        font-size: inherit;
        color: $white;
        &:hover {
          background-color: $green-light;
        }
        &:focus {
          background-color: $green-crete;
        }
      }
    }
    .theme-date {
      float: right;
      font-size: 0.8em;
    }
  }
  .theme-content {
    background: $green-caper;
    padding: 1em;
    li {
      line-height: 1.125em;
      margin-bottom: 1em;
    }
    a,
    a div {
      color: $green-seaweed;
      &:hover {
        background-color: $green-light;
      }
      &:focus {
        background-color: $green-crete;
        color: $white;
      }
    }
  }
  .theme-footer {
    text-align: right;
  }
}
