

// Email form design
.email-form {
  border: none; 
  .form-item {
    margin-bottom: 2.625rem;
    input[type="text"],
    input[type="email"],
    textarea {
      background-color: transparent;
      border: 1px solid $black;
      max-width: 100%;
    }
  }
  .description {
    font-family: $Droid-Serif;
    padding-top: .875rem;
  }
  .mail-attach {
    margin-bottom: 2.625rem;
    label {
      font-weight: bold;
      margin-right: 1em;
    }
  }
  .custom-form__btn {
    text-align: left;
    .btn {
      margin-left: .3em;
      width: auto;
      &:first-child {
        @media(max-width: 381px) {
          margin-bottom: 5px;
        }
      }
    }
  }
  .form-captcha-content .invalidClass {
    border-color: #c00;
    background-color: #fee8d3;
  }
}

