.award-block {
  display: inline-block;
  width: 100%;
  margin-bottom: 16px;
  border-bottom: 1px solid $gray-whiter;
  .award-block__header {
    margin-bottom: 30px;

    .award-block__title {
      display: inline-block;
      width: 100%;
      margin-top: 0;
      margin-bottom: 14px;
      font-size: 20px;
      color: $gray-normal;
    }
    
    p {
      color: $black-text;
    }
  }
  .award-block__content {
    display: inline-block;
    width: 100%;

    .award-item {
      float: left;
      display: inline-block;
      padding: 16px;
      text-align: center;
      width: 33.33%;
      vertical-align: top;
      margin-bottom: 0;

      @media (max-width: 767px) {
        width: 100%;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  // custom css for award block
  ul {
    &:nth-child(5) {
      li {
        margin: 0;
        padding: 0;
      }
      a {
        color: $black-text;
      }
    }

    &:nth-child(6) {
      display: inline-block;
      width: 100%;

      li {
        float: left;
        display: inline-block;
        padding: 16px;
        text-align: center;
        width: 33.33%;
        vertical-align: top;
        margin-bottom: 0;

        @media (max-width: 767px) {
          width: 100%;
        }
        img {
          max-height: 118px;
          display: block;
          margin: 0 auto 16px;
        }
        p {
          margin-bottom: 0;
          font-size: 0.8em;
          line-height: 1.5em;
          font-family: $Open-Sans;
        }
      }
    }
  }
}