.header-nav-menu {
  font-family: $Open-Sans;
  .main-nav {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    > .main-menu {
      position: relative;
      display: flex;
      width: 100%;
      @media(max-width: 767px) {
        display: inline-block;
      }
    
      > .main-menu__item {
        display: flex;
        align-items: center;
        height: 100%;
        width: 20%;
        float: left;
        min-height: 55px;
        background-color: $black-metal;
        margin-bottom: 0;
        @media (max-width: 991px) {
          min-height: 68px;
        }
        @media (max-width: 767px) {
          flex-wrap: wrap;
          width: 100%;
          height: auto;
          min-height: auto;
          border-bottom: 1px solid $white;
        }
        &:last-child {
          @media (max-width: 767px) {
            border-bottom: none;
          }
        }
        &:hover {
          background-color: $green-light;
        }
        &.active-dropdown {
          background-color: $green-light;

          > .link  {
            @media (max-width: 767px) {
              width: 100%;
            }
            svg {
              transform: rotate(180deg);
            }
            // &::after {
            //   margin-top: 4px;
            //   transform: rotate(225deg);
            // }
          } 
          .main-menu--sub  {
            padding: 15px 25px;
            display: block;
            @media(max-width: 767px) {
              padding: 0 25px;
            }
            .link {
              @media(max-width: 767px) {
                padding-left: 0;
              }
            }
          } 
        }
         > .link  {
          display: flex;
          flex-wrap: wrap;
          width: 100%;
          height: 100%;
          justify-content: center;
          align-items: center;
          color: $white;
          font-size: 16px;
          text-transform: uppercase;
          white-space: nowrap;
          padding: 12px;
          @media (max-width: 767px) {
            background-color: $black-metal;
            justify-content: flex-start;
          }
          &:hover {
            background-color: $green-light;
          }
        }
        .main-menu--sub  {
          width: 100%;
          background-color: $green-light;
          opacity: 1;
          display: none;
          @media (min-width: 768px) {
            padding: 15px 25px;
          }
          li {
            float: left;
            width: 33.33%;
            margin-bottom: 8px;
            text-align: left;
            @media (max-width: 767px) {
              width: 100%;
              margin-bottom: 8px  ;
            }
            a {
              display: inline-block;
              width: auto;
              padding: 4px 10px;
              font-size: 15px;
              font-weight: bold;
              color: $green-seaweed;
              &:hover, &:focus {
                color: $green-seaweed;
                background: $green-lighter;
              }
              @media (max-width: 767px) {
                width: 100%;
                padding: 5px 10px;
              }
            }
          }
        }
      }
    }
  }
}

.main-menu--sub {
  height: 0;
  overflow: hidden;
  background-color: $near-white;
  width: 100%;

  @media (min-width: 768px) {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    height: auto;
    overflow: visible;
    z-index: 1;
  }
}

.active-dropdown {
  .main-menu--sub {
    display: block;
    height: auto;
  }
}

@media (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
}
@media (max-width: 767px) {
  .navbar-toggler,
  .search-expand {
    display: flex;
    font-weight: normal;
      flex-wrap: wrap;
      background-color: $white;
      color: $black;
      align-items: center;
      // padding: 6px 8px;
      padding: 0.5em;
    // display: inline-block;
    // text-decoration: none;
    .toggle-expand__text,
    .search__text {
      margin-right: 5px;
      display: flex;
      // &::before {
      //   margin-right: 5px;
      //   // font-family: $Font-Awesome;
      //   // content: "\f0c9";
      // }
      // &.nav-active {
      //   background-color: $black-metal;
      //   color: $white;
      //   .main-nav {
      //     // @media(max-width: 767px) {
      //     //   display: block;
      //     // }
      //     &.show {
      //       display: block;
      //     }
      //   }
      //   // &::before {
      //   //   content: "\f05c";
      //   // }
      // }
      
    }
    &.nav-active {
      background-color: $black-metal;
      color: $white;
      .main-nav {
        // @media(max-width: 767px) {
        //   display: block;
        // }
        &.show {
          display: block;
        }
      }
      // &::before {
      //   content: "\f05c";
      // }
    }
  }
  // .search-expand {
    
  // }
}
.search-toggle {
  // .search-expand {
  //   display: flex;
  //   flex-wrap: wrap;
  //   background-color: white;
  //   color: black;
  //   align-items: center;
  //   padding: 6px 8px;
  // }
  // .search__text {
  //   margin-right: 5px;
  //   // display: flex;
  // }
  &.active-search {
    .search-expand {
    background-color: #767772;
    color: $white;
    // &::before {
    //   content: "\f05c";
    // }
    
    }
  }
}

.header-nav-menu {
  .main-nav {
    @media(max-width: 767px) {
      display: none;
    }
    &.show {
      display: flex;
    }
  }
}
.collapse {
  .search-form.mobile-show {
    display: none;
  }
  &.show {
    transition: all 0.5s ease 0s;
    .search-form.mobile-show {
      @media (max-width: 767px) {
        display: block;
        background-color: #767772;
        padding: 1em;
        width: 100%;
      }
    }
  } 
}
