/*
 * General Layout
*/

.main-layout {
  box-shadow: 0 6px 14px #ddd;
}
.page-wrapper {
  padding: 40px;
  padding-top: 0;
  padding-bottom: 3em;
  @media(max-width: 767px) {
    padding-left: 20px;
    padding-right: 20px;
  }
}