.header {
  padding: 2.25em 40px;
  @media (max-width: 767px) {
    padding: 0 15px;
  }
  .search-form {
    display: inline-block;
    width: 100%;
    @media(max-width: 767px) {
      display: none;
    }
    &.mobile-show {
      display: inline-block !important;
      width: 100% !important;
    }
  }
  .header__branding {
    max-width: 207px;
    @media(max-width: 767px) {
      padding: 12px 0 4px;
      margin-left: 5px;
    }
    .link {
      display: flex;
      @media(max-width: 767px) {
        display: inline-block;
      }
    }
  }
  .right-padding {
    @media (max-width: 425px) {
      padding-right: 0;
    }
  }
  .left-padding {
    @media (max-width: 425px) {
      padding-left: 0;
    }
  }
  // .row {
  //   @media (max-width: 425px) {
  //     align-items: center !important;
  //   }
  // }
  &__branding {
    margin-right: $space;
    max-width: 237px;
    img {
      @media (max-width: 767px) {
        width: 110px;
      }
    }
  }
  .link {
    background-color: transparent;
  }

}
.search-box {
  &.desktop-show {
    @media (max-width: 767px) {
      display: none;
    }
  }
}
.form-group {
  position: relative;
  border-radius: 0;
  margin-bottom: 0;
}
.search-input {
  padding: .375rem .75rem;
  padding-right: 30px;
  border-left-width: 0;
  border-bottom: 1px solid #19607b;
  border-right-width: 0;
  border-top-width: 0;
  background-color: #d6edf6;
  margin-bottom: 0;
  border-radius: 0;
  position: relative;
  line-height: inherit;
  font-family: $Open-Sans;
  width: 100%;
  display: block;
  height: calc(1.5em + .75rem + 2px);
  font-size: 1rem;
  font-weight: 400; 
  color: #495057;
  background-clip: padding-box;
  // transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  @media (max-width: 1024px) {
    border-radius: .3em;
  }
}
.search-icon {
  position: absolute;
  right: 6px;
  top: 50%;
  padding: 0;
  transform: translateY(-50%);
  border-radius: 0;
  background: url('./../images/icons/search.png');
  background-repeat: no-repeat;
  background-position: 100%;
  font-size: 0;
  width: 18px;
  height: 27px;
  border: none;
  @media (max-width: 767px) {
    right: 20px;
  }
  &:hover {
    cursor: pointer;
  }
  &:focus {
    background-color: $orange-whiter;
  }
}
.toggle-icon-right {
  display: none;
  @media (max-width: 767px) {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .nav-menu-toggler,.nav-active {
    &:focus {
      outline: none;
    }
  }
  svg {
    stroke-width: 38px;
  }
}
