.ask-your-question-form {
  .select-category {
    width: auto;
  }
  .form-item__dropdown {
    padding: 0;
    .form-item__select {
      padding: 4px 1px 3px 1px;
      height: auto;
      // border: none;
      box-sizing: content-box;
      option {
        font-family: $Open-Sans;
      }
    }
  }
  .ask-your-question-content {
    margin: 0 -1em;
    margin-bottom: 1em;
    background-color: $green-fall;
    padding: 0.5em 1em;
  }
  .form-captcha-content {
    margin-bottom: 1.75rem;
  }
  .ask-your-question-form__btn {
    text-align: right;
  }
  .form-captcha-content .invalidClass {
    border-color: #c00;
    background-color: #fee8d3;
  }
}
