.stats {
  display: inline-block;
  width: 100%;
  margin-bottom: 28px;
  padding: 16px 16px 24px;
  border-top: 3px solid $bluemine;
  background-color: $sky-blue;
  padding-bottom: 0;
  @media(max-width: 767px) {
    
    margin-bottom: 14px;
  }
  .stats__title {
    margin: 0;
    padding-bottom: 16px;
    font-weight: 400;
    color: $bluemine;
  }

  .stats__table {
    tr {
      display: table;
      width: 100%;
      border-bottom: 1px solid $bluemine;
      border-width: 1px 0;
      color: $black-text;

      td {
        padding: 8px;
        font-size: 14px;
        line-height: 16px;

        p,
        .paragraph {
          margin: 0;
          font-family: $Open-Sans;
          line-height: 1.25em;
        }

        &:first-child {
          font-size: 25px;
          line-height: 28px;
          font-weight: 200;
          width: 40%;
          @media(max-width: 767px) {
            width: 25%;
          }

          span {
            font-size: 16px;
          }
        }
      }

      &:first-child {
        border-top: 1px solid $bluemine;
      }
    }
  }
}