.upper-header {
  display: inline-block;
  width: 100%;
  z-index: 9999;
  background-color: $dark-blue;

  .upper-header__logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;

    @media (max-width: 767px) {
      justify-content: center;
    }

    .link {
      display: inline-block;
      margin-bottom: 0;
      // padding: 3px 0 5px;
      background-color: transparent;

      &:focus {
        background-color: $heavy-blue;
      }

      img {
        // max-height: 34px;
        padding: 3px 20px 5px 20px;
        vertical-align: bottom;
      }
    }
  }
}