// $gray-medium: #999;
// $blue: #0072b9;
// $purple: #639;
// $pink-pale: #fef5f1;

// $red-orange: #ed541d,
// $rust: #8c2e0b,
// yellow-pale:            #ffd,
// yellow:                 #ff0,
// yellow-dark:            #ed5,

// green-light:            #be7,

// $orange-hi: #fdd2a7;

// $grey-hi-w: #949494;
// $grey-lo-b: #5a5a5a;
// $grey-lo: #2d2d2d,
// $grey-o-hi-w: #999491;

// $grey-b-hi-w: #8b979b;
// $grey-b-m: #6b797f;
// $grey-b-lo-b: #515b5c;
// $grey-g-hi-w: #93968f;
// $grey-g-m: #767772;



// Grayscale
$pale-dark: #234600;
$green-pale: #f8fff0;
$white: white;
$near-white: #f2f2f2;
$gray-lightest: #5c2b2b;
$gray-lighter: #ccc;
$gray-light: #888;
$gray: #666;
$gray-dark: #4c4c4c;
$gray-darker: #333;
$gray-normal: #4f4d4b;
$gray-whiter: #d3d7d9;
$gray-extra-light: #eee;
$gray-b-hi: #cbd1d3;
$gray-b-lo: #2c2f2f;
$black: black;
$red: #c00;
$blue-lo: #0d3038;

// Project
// $green: #35aa4d;
// $blue: #4180c7;
  $black-text: #302e2c;
$black-mine: #212121;
  $black-scorpion: #5d5858;
  $black-metal: #2d2e2c;
  $black-storm: #5d5e5a;
  $orange: #c85207;
  $orange-dark: #9a3b01;
  $orange-light: #ef7016;
$orange-lightest:#fef6ed;
$orange-whiter: #fdd6af;
$brown-light: #f39a5b;
  $sky-blue: #aedbed;
  $blue: #499ec7;
  $brown: #511e01;
$mercury-light: #e8e8e8;
  $gray-light: #d1d1d1;
  $gray: #767676;
$gray-emperor: #555;
  $gray-swirl: #d8ceca;
  $gray-dark: #7c7571;
$gray-middle: #ddd;
  $mercury:#d6d8d2;
  $green-light: #76a23a;
$green: #6f8b42;
$gree-loafer: #F4F9ED;
  $green-crete: #5f7f2d;
  $green-dark: #4b6026;
  $green-caper: #cce5a5;
$green-lighter: #acc788;
$green-frost: #eff7e4;
$green-fall: #dbecc0;
  $green-seaweed: #273013;
$gray-lightest: #e5e5e5;
  $bluemine: #19607B;
  $blue-jelly: #297FA4;
$blue-loafer: #e6f4f9;
$off-white: #fee8d3;
$bride-white: #fef3e9;
$dark-blue: #1b4585;
$heavy-blue: #0d2242;
$green-success: #be7;

// Styleguide
.sg-colors {
  display: flex;
  flex-wrap: wrap;
}

.sg-colors__list {
  list-style: none;
  margin: 1rem 0.5rem;
  text-align: center;
}

.sg-colors__color {
  padding: 4rem;

  &--white {
    background-color: $white;
  }

  &--near-white {
    background-color: $near-white;
  }

  &--gray-lightest {
    background-color: $gray-lightest;
  }

  &--gray-lighter {
    background-color: $gray-lighter;
  }

  &--gray-light {
    background-color: $gray-light;
  }

  &--gray {
    background-color: $gray;
  }

  &--gray-dark {
    background-color: $gray-dark;
  }

  &--gray-darker {
    background-color: $gray-darker;
  }

  &--black {
    background-color: $black;
  }

  &--green {
    background-color: $green;
  }

  &--blue {
    background-color: $blue;
  }
}

.sg-info {
  padding: 1rem;

  code {
    background-color: $gray-extra-light;
    padding: 0.15rem 0.25rem;
    display: block;
    margin-top: 0.25rem;
  }
}
