.card__wrapper {
  font-family: $Open-Sans;
  border: 1px solid $green-fall;
  margin-bottom: 1.75rem;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  .card__heading {
    padding: 1em;
    background: $green-caper;
    
    h2 {
      font-size: 1.5em;
      margin: 0;
      font-weight: 700;
      line-height: 1.5em;
    }
  }
  .card__body {
    padding: 1em;
    .paragraph {
      @media(max-width: 767px) {
        padding: 1em;
      }
    }
    
    h3 {
      margin: 0;
    }
    .campus-phone {
      padding: 1em;
      background: $mercury-light;
      overflow: auto;
      h3 {
        color: $gray-normal;
      }
      .phone-wrap {
        margin-bottom: 1em; 
      }
    }
    ul {
      list-style-type: disc;
      padding-left: 30px;
      li {
        padding-left: 0;
      }
    }
  }
}
