.upper-footer {
  background: $green-light;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 21px 40px;
  @media(max-width: 767px) {
    display: inline-block;
    padding: 21px 20px;
  }

  .upper-footer__logo {
    display: flex;
    @media(max-width: 767px) {
      margin-bottom: 6px;
    }
    .link {
      &:hover {
        background-color: transparent;
      }
      &:focus {
        background-color: $green;
      }
    }
    img {
      height: 45px;
      width: 125px;
    }
  }

  .upper-footer__social {
    float: right;
    @media(max-width: 767px) {
      float: left;
    }
  }
}