.category__wrapper {
  padding-bottom: 1rem;
  padding-top: 1rem;
  .category__header {
    line-height: 2em;
    .link {
      font-size: 1.5em;
      font-weight: 700;
    }
  }
  .category__filter {
    margin-bottom: 2em;
  }
  .category__filter {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    p {
      margin-right: 4px;
      margin-bottom: 0;
    }
  }
  .category__description {
    a {
      @include link;
    }
    ul {
      padding-left: 32px;
      list-style: disc;
    }
  }
}

//new health topics
// .category-wrap {
//   ul {
//     display: flex;
//     flex-wrap: wrap;
//     li {
//       &:after {
//         content: '|';
//         margin-right: 3px;
//       }
//       &:last-child {
//         &::after {
//           content: '';
//         }
//       }
//      }
//   }
// }
.categorylist-wrap > ul{
  list-style-type: circle;
  
}
.categorylist-wrap {
  padding-top: 30px;
  ul {
    border-bottom: 1px solid rgb(207, 203, 203);
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 0;
    // padding: 10px 0;
  //   &:nth-child(2) {
  //     &::before {
  //       content: '>';
  //     }
    
  // }
 
    li {
      display: flex;
    flex-wrap: wrap; 
    margin-top: 0;
    margin-left: 15px;
      &:after {
        // content: '|';
        margin-right: 0px;
      }
      &:last-child {
        &::after {
          content: '';
        }
      }
      ul {
        display: flex;
        flex-wrap: nowrap;
        margin-top: 0;
        border: 0;
        margin-left: 0;
          &:before {
            content: '>';
            margin-left: 3px;
            margin-right: 3px;
          }
          
          &:last-child {
            &::after {
              content: '';
            }
          
        }
      }
    }
  }
}

.category-wrap {
  ul {
    display: inline-block;
    .term-tree-list {
      > .term {
        padding-left: 0 !important;
        margin-left: 0 !important;
        &::before {
          display: none;
        }
      }
      .term {
        position: relative;
        margin-top: 0;
        padding-left: 20px;
        margin-left: 20px;
        &::before {
          content: '>';
          position: absolute;
          left: 0;
        }
      }
    }
    a {
      @include link;
    }
  }
}

.rc-tree.category-tree {
  li {
    white-space: unset;
    .rc-tree-node-content-wrapper {
      max-width: 200px;
      height: 100% !important;
    }
  }
}
