.history {
  .history__items {
    display: inline-block;
    width: 100%;
    margin-top: 45px;

    .history__item {
      position: relative;
      margin-bottom: 56px;
      padding: 16px;
      border: 1px solid $blue-jelly;
      text-align: center;
      list-style: none; 
      // &:last-child {
      //   margin-bottom: 0;
      // }

      &::after {
        position: absolute;
        left: 0;
        right: 0;
        content: "";
        height: 56px;
        width: 1px;
        bottom: -56px;
        margin: 0 auto;
        background-color: $blue-jelly;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      .history__itemyear {
        width: 100px;
        margin: -40px auto 20px;
        padding: 10px;
        color: $white;
        background-color: $blue-jelly;
        text-align: center;
        font-size: 20px;
      }

      .history__heroimage {
        img {
          max-width: 200px;
          max-height: 200px;
          margin: 0 auto 10px;
        }
      }

      .history__details {
        p {
          margin-bottom: 0;
          margin-top: 14px;

          &:first-child {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .history__years {
    display: inline-block;
    width: 100%;
    .history__year {
      display: inline-block;

      &::after {
        // display: inline-block;
        display: inline;
        // width: 6px;
        content: ' | ';  
        color: $black-text;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }
    }
  }
}

