.answer__quiz-block {
  font-family: $Open-Sans;
  padding-bottom: 1.75rem;
  .answer__block {
    padding: 1em;
    ul {
      padding-left: 0;
    }
    .form-item--checkbox {
      border: none;
      margin: 0;
      padding: 0;
      legend {
        display: none;
      }
      .form-item--checkbox__item {
        margin-bottom: 1em;
        label {
          margin-right: 1em;
        }
      } 
    }
    .form-item--radio__item {
      margin-bottom: 1em;
      .custom-radio {
        display: inline-block;
      }
      .custom-control-input {
        margin-top: 7px;
      }
    }
    .btn {
      background-color: $blue;
      display: block;
      &:hover {
        background-color: #7fbbd7;
      }
    }
  }
}