.answer__block {
  background: $blue-loafer;
  position: relative;
  color: $black;
  padding: 3em;
  margin-top: 20px;
  &::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 1.75rem;
    width: 0;
    height: 0;
    border-bottom: 20px solid $blue-loafer;
    border-right: 40px solid transparent;
  }
  ul {
    list-style: disc;
    padding-left: 32px;
    li {
      padding-left: 0;
    }
  }
}
.answer__block,
.question-block {
  li,p {
    a {
      @include link;
      position: relative;
      &:hover {
        &::after {
          color: $gray-light;
        }
      }
      &::after {
        content: '\f08e';
        color: $gray;
        font-family: $Font-Awesome;
        padding-left: 5px;
        font-size: 12px;
      }
    }
  }
}