.footer-bottom {
  display: inline-block;
  width: 100%;

  .footer-bottom__inner {
    font-size: 14px;
    background-color: $black-metal;
    padding: 30px 40px;

    @media (max-width: 767px) {
      padding: 30px 20px 1em;
    }
  }

  .footer-bottom__mainlinks {
    display: inline-block;
    width: 100%;
    background-color: $black-metal;
    margin-bottom: 10px;
    border-bottom: 1px solid $black-storm;
    @media(max-width: 767px) {
      margin-bottom: 28px;
    }
    .footer-bottom__link-group {
      float: left;
      width: 20%;
      margin-bottom: 20px;
      min-width: 180px;
      font-weight: 200;

      .footer-bottom__main-title {
        color: $mercury;
        .link {
           color: $mercury;

           &:hover {
             color: $mercury;
             cursor: default;
             background-color: transparent;
           }
        }
      }

      li {
        margin-bottom: 0;
        color: $green-light;
        list-style-type: none;

        .link {
          color: $green-light;
          font-weight: 200;

          &:hover {
            color: $white;
            background-color: $green-crete;
          }
        }
      }
    }
  }

  .footer-bottom__lastupdate {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: $black-metal;
    color: $mercury;
    @media(max-width: 767px) {
      flex-direction: row-reverse;
      justify-content: flex-end;
    }
    .footer-bottom__para-lastupdate {
      display: inline-block;
      // width: 77%;
      width: calc(100% - 317px);
      padding-top: 16px;
      font-weight: bold;
      @media (max-width: 767px) {
        order: 2;
        margin-bottom: 2.1875rem;
        width: 100%;
        padding-top: 0;
      }
      p {
        margin: 0;
        // line-height: 35px;
      }
    }

    .footer-bottom__emergency-text {
      font-weight: 200;
      a {
        color: $green-light;

        &:hover {
          color: $white;
          background-color: $green-crete;
        }
      }               
    }
  }
}
.footer-bottom__copyright {
  padding: 12px 40px 30px;
  background-color: $white;
  font-family: $Open-Sans;

  @media (max-width: 767px) {
    padding: 12px 20px 30px;
  }
  p,
  .paragraph {
    margin: 0;
    text-align: center;
    font-size: 0.8em;
    color: $gray-dark;
  }
}

.footer {
  box-shadow: 0 6px 14px $gray-middle;
  display: inline-block;
  width: 100%;
  font-family: $Open-Sans;
}
.gaa-last-updated-reviewed {
  background-color: #5d5e5a;
  display: flex;
  color: #d6d8d2;
  font-weight: 200;
  line-height: 1.5em;
  font-size: .85em;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 1em;
  margin-left: 1em;
  height: 100%;
  font-family: $Open-Sans;
  text-align: center;
  // width: 25%;
  // width: 10%;
  @media (max-width: 767px) {
    margin-left: 0;
    margin-right: 3px;
    margin-bottom: 2.1875rem;
  }
  @media(max-width: 340px) {
    order: 1;
    margin-right: 6px;
  }
  &.published-date {
    @media(max-width: 340px) {
      order: 0;
      margin-bottom: 1rem;
    }
  }
}