.success-message {
  margin: 1.75rem 0;
  padding: 10px 10px 10px 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: $Open-Sans;
  background: url('./../images/icons/success.png') no-repeat;
  background-position: 8px 8px;
  background-repeat: no-repeat;
  border: 1px solid $green-success;
  background-color: $green-pale;
  color: $pale-dark;
}