.form-item--radios,
.form-item--radio__item {
  @include list-reset;
}

.form-radios {
  .form-item {
    margin-bottom: 0;
  }
}

//radio button
.form-item--radio {
  .form-item {
    margin-bottom: 0;
    display: flex;
    align-items: center;
    .custom-radio {
      display: flex;
      align-items: center;
    }
    .form-radio, 
    .custom-control-input {
      margin-right: 0.6rem;
      width: 16px;
      height: 16px;
      margin-right: .5em;
      vertical-align: top;
      margin-top: 0;
    }

    label {
      font-weight: 400;
      line-height: 1.75em;
      margin-bottom: 0;
    }

    input[type='radio']::after {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      border: 1px solid #adb5bd;
      // background-color: $white;
      vertical-align: top;
      content: '';
    }

    input[type='radio']:checked::after {
      width: 100%;
      height: 100%;
      border-radius: 15px;
      // border: 5px solid $orange-light;
      content: '';
      display: inline-block;
    }
  }
}