.Ask-question-wapper {
  box-shadow: 0 1px 40px $gray-middle;
  padding: 1.5em;
  margin-bottom: 3.0625rem;
  font-family: $Open-Sans;
  font-size: 0.9em; 
  .ask-question-content {
    margin-bottom: 20px;
  }
  .link {
    color: $black;
    background: $sky-blue;
    width: 100%;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    padding: 0.5em 1em;
    // font-size: 16px;
    margin: 0;
    font-family: $Open-Sans;
    display: inline-block;
    &:hover {
        background-color: $blue;
    }
  }
}