.response-block {
    font-family: $Open-Sans;
    .response-body-wrap {
        margin-bottom: 1.5em;
    }
    .response__header {
        color: $green-light;
        font-weight: bold;
        border-bottom: 1px solid $green-crete;
        margin-bottom: 1.75rem;
    }
    .response__date {
        color: $green-crete;
        margin-bottom: 0.875rem;
        h2 {
            font-size: 1.5rem;
        }
    }
    ul {
        padding-left: 32px;
        list-style: disc;
    }
}
