.testimonial {
  display: inline-block;
  width: 100%;
  margin: 42px 0;
  margin-top: 0;
  padding: 35px 0;
  text-align: center;
  color: $black-scorpion;
  border-top: 1px solid $gray-swirl;
  border-bottom: 1px solid $gray-swirl;
  @media (max-width: 767px) {
    margin: 24px 0;
    padding: 28px 0;
    margin-top: 0;
  }

  .testimonial__user {
    font-style: italic;
    font-size: 28px;
    line-height: 56px;

    @media (max-width: 767px) {
      font-size: 24px;
      line-height: 42px;
    }

    p {
      margin-bottom: 14px;
    }
  }

  .testimonial__alice-reader {
    font-size: 22px;
    font-weight: 200;
    line-height: 56px;

    @media (max-width: 767px) {
      line-height: 42px;
    }

    p {
      margin: 0;
    }
  }

  &.testimonial--green-text {
    color: $green-light;
  }
}
