.quick-quizzes {
  h3 {
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 0;
    margin-top: 0;
    a {
      font-size: 18px;
    }
  }
  p {
    margin-top: 0;
    font-size: 0.9em;
  }
  .read__more {
    text-align: right;
  }
  .content-list-item {
    p {
      margin-bottom: 14px;
    }
  }
}

.quiz-wrapper {
  margin: 0 1.75rem 1.75rem 1.75rem;
}

//quizzes page 
.quizzes-page {
  .answer__quiz-block {
    border-bottom: 1px dotted $gray-swirl;
  }
  .content-list-item {
    margin-bottom: 1.75rem;
  }
  .content-list {
    &:first-child {
      li {
        h3 {
          padding-top: 0;
        }
      }
    }
  }
  h3 {
    font-size: 1.8rem;
    line-height: 1.5em;
    // padding-top: 1.75rem;
    padding-top: 0;
    margin-bottom: 0.875rem;
    margin-top: 0;
    @media(max-width: 767px) {
      font-size: 1.5rem;
    }
  }
}
.quizzes-detail-page {
  .content-list {
    margin-bottom: 20px;
  }
  h3 {
    font-size: 1.5rem;
    line-height: 1.5em;
  }
  .question-block {
    padding: 1em;
    p {
      margin-bottom: 0;
    }
  }
}
.quiz-expert-answer {
  .question__wrapper {
    margin-bottom: 2em;
    padding-bottom: 2rem;
    border-bottom: 1px dotted $gray-swirl;
  }
}


