.weeklypoll {
  .weeklypoll__title {
    display: inline-block;
    width: 100%;
    margin: 0 0 8px;
    padding-top: 8px;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
    color: $black-text;
  }
  
  .weeklypoll__content {
    font-family: $Open-Sans;
  }
  .weeklypoll__header {
    padding: 16px;
    background-color: $orange-light;
    a {
      color: $black;
      font-weight: 700;
      &:hover,
      &:focus {
        background-color: $orange;
      }

    }
  }

  .weeklypoll__body {
    border: 1px solid $orange-light;

    .weeklypoll__form-groups {
      margin-bottom: 0;
      li {
        padding: 14px 20px;
        background-color: $bride-white;

        &:nth-child(2n+1) {
          background-color: $off-white;
        }

        .custom-control-input {
          margin-right: 0.6rem;
        }
      }

      .weeklypoll__btn-wrapper {
        padding: 14px 20px;
        background-color: $white;

        .btn {
          width: 100%;
          color: $white;
          line-height: inherit;
          &:hover,
          &:focus {
          background-color: #9a3b01;
          cursor: pointer !important;
          }
        }
      }
    }
  }
}
.weeklypoll__more {
  margin-bottom: 35px;
  padding-top: 10px;
  text-align: right;
  &:empty {
    margin-bottom: 0;
    padding-top: 0;
  }
}
+ .social-share-menu {
  margin-bottom: 1.75rem; 
}