
.arrow {
  left: 1.5em;
  position: absolute;
 &::before {
  content: "";
  display: block;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-left: 4px solid $gray-emperor;
 }
}

.accordion__wrapper {
  .accordion__question {
    display: flex;
    align-items: center;
    border-top: 1px solid $green-light;
    border-width: 1px 0 0 0;
    color: $gray-emperor;
    padding: .5em .5em .5em .7em;
    padding-left: 2.2em;
    margin-top: 2px;
    &:focus {
      background-color: $mercury-light;
    }
    &:hover {
      cursor: pointer;
      color: $black-mine;
    }
  }
  .accordion__body {
    padding: 1em 2.2em;
    border-width: 0;
    background: $green-frost;
    transition: 0.3s;
    a {
      @include link;
      text-decoration: underline;
      &:hover {
        background-color: $green-crete;
        text-decoration: none;
      } 
    }
  }

  &.rc-collapse-item-active {
    .arrow::before {
      transform: rotate(90deg);
    }
  }
}