.btn,
button,
input[type="submit"], 
#edit-delete {
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    border-radius: unset;
    border: none;
    padding: 0.5em 1em;
    line-height: inherit;
    font-size: 16px;
    margin: 0;
    font-family: $Open-Sans;
}
.btn--secondary,
.tabledrag-toggle-weight,
#edit-preview {
    color: $black;
    background: $sky-blue;
    &:hover {
        background-color: $blue;
    }
    &.link {
        color: $black;
        &:hover {
            color: $black;
            background-color: $blue;
        }
    }
}
.btn--primary,
.button--primary,
.remove-button,
.field-add-more-submit,
.entity-browser-processed {
    background: $orange-light;
    color: $black; 
    &:hover {
        background-color: $brown-light;
    }
}   
.btn--success,
#edit-submit {
    background-color: $green-light;
    color: white;
    text-transform: capitalize;
    &:hover {
        background-color: $green-crete;
    }
}
.button--danger {
    background-color: #d9534f;
    color: $white;
    text-decoration: none;
}



//Admin side
input[type="submit"].entity-browser-processed,
input[type="submit"].remove-button {
    text-transform: capitalize;
}