html {
  box-sizing: border-box;
  body {
    line-height: 1.75em;
    font-family: $Droid-Serif;
    font-size: 16px;
    color: $black-text;
    margin: 0;
  }
}


*,
*::after,
*::before {
  box-sizing: inherit;
}

// .main {
//   @include wrapper;

//   display: block; /* Fix for IE weirdness */
// }

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

.link-list-wrapper {
  margin-bottom: 2.1875rem;
}
.block-title {
  h2 {
    border-top: 1px solid $orange;
    font-size: 1.25rem;
    line-height: 1.75rem;
    font-weight: normal;
    margin-top: 0;
    margin-bottom: 0.33em;
    padding-top: 0.33em;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    margin-bottom: 0;
  }
}
.page-title {
  padding-top: 2em;
  h1 {
    margin-top: 0;
  }
}
.page-content {
  margin-bottom: 1.75rem;
  p {
    margin-top: 0;
  }
  ul {
    list-style: disc;
    padding-left: 1em;
  }
  h2 {
    margin-bottom: .875rem;
    font-size: 1.8rem;
  }
}

.home {
  .container {
    @media (max-width: 959px) {
      padding: 0;
      margin: 0;
    }
  }
}

p {
  p {
    font-size: 100% !important;
  }
}

.display-order {
  @media(max-width: 767px) {
    flex-direction: column-reverse;
  }
}

.no-result {
  ul {
    list-style: disc;
    padding-left: 32px;
    margin-bottom: 1.75rem;
  }
}