// @font-face {
//     font-family: "Open Sans"; 
//     src: url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot"); 
//     src: url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot"), url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.woff") format("woff"), url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/629a55a7e793da068dc580d184cc0e31.svg#Open Sans") format("svg"); 
// }

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

$Open-Sans: 'Open Sans', 'sans-serif';

@font-face {
    font-family: "Droid Serif"; 
    src: url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.eot"); 
    src: url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.woff") format("woff"), url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/df20289f30fbc45183808a4fba6128e3.svg#Droid Serif") format("svg"); }

$Droid-Serif: "Droid Serif";

@font-face {
    font-family: "FontAwesome";
    font-weight: normal;
    font-style : normal;
           src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?v=4.3.0");
           src : url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"),
                 url("https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    }

$Font-Awesome: "FontAwesome";