.read-more-text {
    text-align: right;
}
.fact-sheet-page {
    h3 {
        font-size: 1.5rem;
        line-height: 1.75rem;
        margin-top: 0.5em;
        margin-bottom: 0.875rem;
        @media(max-width: 767px) {
            font-size: 1.25rem;
        }
    }
    .content-list-item {
        margin-bottom: 30px;
    }
}