/*
 * Generic header styles:
 * All arguments are optional. If not defined, the defaults below will be used
*/

$color-heading: $gray-darker;
$color-link: $orange;
$color-link-hover: $orange;
$color-link-font: $white;
@mixin heading-xl(){
  font-size: 1.75rem;
  line-height: 1.5em;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 2.25rem;
    line-height: 3.5rem;
  }

  &__link {
    color: $color-link;
    text-decoration: none;

    &:hover {
      background-color: $color-link-hover;
      color: $color-link-font;
    }
  }
}

@mixin heading-large() {
  font-size: 1.5rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 1.8rem;
    line-height: 1.5em;
  }

  &__link {
    color: $color-link;
text-decoration: none;

    &:hover {
      background-color: $color-link-hover;
      color: $color-link-font;
    }
  }
}

@mixin heading-medium() {
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  letter-spacing: 1px;

  &__link {
    color: $color-link;
text-decoration: none;

    &:hover {
      background-color: $color-link-hover;
      color: $color-link-font;

    }
  }
}

@mixin heading-small() {
  font-size: 1.15rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 1.15rem;
    line-height: 1.75rem
  }

  &__link {
    color: $color-link;
    text-decoration: none;

    &:hover {
      background-color: $color-link-hover;
      color: $color-link-font;

    }
  }
}

@mixin heading-xs() {
  font-size: 1rem;
  line-height: 1.75rem;
  margin-top: 1.75rem;
  margin-bottom: 0.875rem;
  letter-spacing: 1px;

  @media (min-width: 768px) {
    font-size: 1rem;
    line-height: 1.75rem;
  }

  &__link {
    color: $color-link;
    text-decoration: none;

    &:hover {
      background-color: $color-link-hover;
      color: $color-link-font;

    }
  }
}

.h1 {
  @include heading-xl;
}

.h2 {
  @include heading-large;
}

.h3 {
  @include heading-medium;
}

.h4 {
  @include heading-small;
}

.h5,
.h6 {
  @include heading-xs;
}

/* TODO: BEM selectors should be applied to wysiwyg-created content */

.text-long {
  h1 {
    @extend .h1;
  }

  h2 {
    @extend .h2;
  }

  h3 {
    @extend .h3;
  }

  h4 {
    @extend .h4;
  }

  h5 {
    @extend .h5;
  }

  h6 {
    @extend .h6;
  }
}

