.search-form {
  display: flex;
  align-items: center;
  @media(max-width: 1155px) {
    display: block;
  }
  // @media(max-width: 767px) {
  //   display: inline-block;
  //   width: 100%;
  // }
  
  .form-item {
    // width: 100%;
    margin-bottom: 0;
    input[type="text"] {
      background-color: white;
      border: 1px solid black;
      width: calc(100% - 166px);
      @media(max-width: 575px) {
        width: 100%;
        margin-bottom: 0.875rem;
      }
      @media(max-width: 527px) {
        margin-bottom: 14px;
      }
    }
  } 
  .search-form-btn {
    margin-left: 5px;
    // margin-bottom: 2px;
    @media(max-width: 767px) {
      margin-left: 0;
    }
  }
}
.search-page {
  .search-result-list {
    padding-left: 32px;
  } 
}