.alice-section {
    text-align: left;
    font-family: "Droid Serif",Georgia,Times New Roman,"DejaVu Serif",serif;
    .alice-header {
        margin-bottom: .875rem;
    }
    .about-alice {
        .who-alice {
            margin-top: 0;
            font-weight: 700;
            color: $black-text;
        }
        .alice-description {
            line-height: 1.75em;
            color: $black-text;
        }
    }
}

.link-h2 {
    font-size: 1.8rem;
    line-height: 1.5em;
    font-weight: 700;
}
.link-orange {
    color: #c85207;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

p {
    margin: 0 0 .875rem;
}

.more-details {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    margin-bottom: 30px;
    text-align: right;
}

