.all-about-alice-page {
  .display-order {
    @media (max-width: 767px) {
      order: 1;
    }
  }
  .testimonial {
    color: $green-light;
    margin: 0.875em 0;
  }
  .all-about-alice__header {
    display: none;
  }
  h3 {
    line-height: 1.5em;
    font-size: 1.5rem;
    color: $gray-normal;
  }
}
.allabout-description {
  .description-header {
    line-height: 1.5em;
    font-size: 1.5rem;
    color: $gray-normal;
    font-weight: 700;
  }
  ul {
    li {
      padding: .5em 1em;
      margin-bottom: .5em;
    }
  }
}