.gaa-rave {
  display: inline-block;
  width: 100%;
  padding: 28px;
  background-color: $gree-loafer;
  border-top: 1px solid $green-crete;
  list-style-type: none;

  .gaa-rave__icon {
    float: left;
    display: block;
    &::after {
      float: left;
      padding: 16px 24px 16px 0;
      color: $green-dark;
      font-size: 60px;
      text-indent: 0;
      font-family: $Font-Awesome;
      content: "\f087";
    }
  }

  &.gaa-rave--rant {
    border-top: 1px solid $orange;
    background-color: $orange-lightest;

    .gaa-rave__icon {
      &::after {
        color: $orange-dark;
        content: "\f088";
      }
    }
  }
}