.award-item {
  list-style-type: none;
  display: inline-block;
  width: 100%;

  img {
    max-height: 118px;
    display: block;
    margin: 0 auto 16px;
  }
  
  p {
    font-size: 13px;
    line-height: 20px;
    text-transform: capitalize;
    text-align: center;
  }
}
