// Link design
// a,
// .link {
//   color: $orange;
//   text-decoration: none;
//   font-family: $Open-Sans;
//   &:hover {
//     background-color: $orange;
//     color: $white;
//     text-decoration: none;
//     cursor: pointer;
//   }
//   &:active {
//     color: $brown;
//     background-color: transparent;
//   }
// }

/* Link */

@mixin link {
  color: $orange;
  text-decoration: none;
  // font-family: $Open-Sans;
  display: inline;
  &:hover {
    background-color: $orange;
    color: $white;
    text-decoration: none;
    cursor: pointer;
  }
  &:active {
    color: $brown;
    background-color: transparent;
  }
}
// a,
.link,
.link div {
  @include link;
}

.page-content {
  a {
    @include link;
  }
}