.subscribe-form {
  font-family: $Open-Sans;
  @media(max-width: 767px) {
    margin-bottom: 0;
  }
  .subscribe-form-input {
    margin: 1.75rem 0;
    input {
      border: 1px solid $black;
      background-color: $white;
      max-width: 260px;
    }
    label {
      width: 100%;
    }
  }

  .form-item {
    label {
      display: inline-block;
    }
  }

  .form-item--radio {
    margin-bottom: 1.75em;
    li {
      label {
        font-weight: normal;
      }
    }
  }
  .btn {
    text-transform: capitalize;
    margin-bottom: 1.75em;
    position: relative;
    z-index: 999;
    @media(max-width: 767px) {
      margin-bottom: 0;
    }
  }
}
